body {
	padding-top: 80px;
}

.fullscreen_bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url('../img/bg.jpg');
	background-repeat:repeat;
}

.clear {
	margin-top: 25px;
}