* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

header {
    background-color: #448AFF;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
    background: url(../img/bg1.jpg);
    background-attachment: fixed;;
}

nav {
  float: left;
  width: 20%;
  height: 700px; 
  background: #757575;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
  
nav ul a:link {
  color: #4fc3f7;
  text-decoration: none;
}
  
nav ul a:hover {
  color: #4fc3f7;
  font-weight: 700;
  text-decoration: none;
}
  
nav ul a:visited {
  color: #b3e5fc;
  text-decoration: none;
}


article {
  float: left;
  padding: 10px;
  width: 80%;
  background-color: #eee;
  height: 700px; 
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
   position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
</style>

<div class="footer">
  <p>Footer</p>
</div>
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}